@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

body {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  display: inline-block;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-light {
  background-color: #82b3d3;
}

.button-transparent {
  background-color: transparent;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  width: 630px;
  margin: 0;
  padding: 0;
}

.navigation-logo {
  width: 140px;
  margin-right: 44px;
  margin-left: 70px;
}

.navigation-user-list {
  max-width: 310px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-button {
  width: 160px;
  margin-right: 70px;
}


.hero {
  color: #FFFFFF;
  background-color:#000000;
  background-image: url("../images/mountains-background.jpg");
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
}

.page-description {
  text-align: center;
}

.page-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.page-text {
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-content {
  text-align: center;
}

.advantages-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  width: 1200px;
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-list-services .advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-services .advantages-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-full .advantages-title {
  color: #ffffff;
}

.search {
  text-align: center;
}

.search-button {
  display: block;
  width: 376px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding: 70px;
  text-align: center;
}

.subscribe-home {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/mailing-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title {
  color: #000000;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-text {
  margin-bottom: 55px;
}

.subscribe-home .subscribe-text {
  color: #ffffff;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr 232px;
  max-width: 684px;
  margin: 0 auto;
}

.form-input {
  width: 100%;
  height: 48px;
  padding: 13px 56px 10px 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT sans", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
  appearance: none;
}

.subscribe-input {
  height: 52px;
  padding: 13px 17px 10px;
  font-weight: 400;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  padding: 6px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}

.footer-page {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 70px 30px;
}

.social-list {
  width: 142px;
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.filter {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-page-title {
  margin: 0 0 7px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.sorting-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-select {
  width: 292px;
  height: 49px;
  padding: 0 40px 0 18px;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT sans", sans-serif;
  color: #333333;
  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
}

.product-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-link {
  text-decoration: none;
}

.product-favorites-active {
  background-color: #7DB54F;
}

.product-rating-text {
  display: block;
  padding: 8px 8px 8px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
  border-color: transparent;
}

.pagination-link-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: transparent;
  border-color: transparent;
}
